<h1>Edit Exploding topics</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.exploding_topics_path(@conn, :update, @exploding_topics)) %>

<span><%= link "Back", to: Routes.exploding_topics_path(@conn, :index) %></span>
