<h1>New Exploding topics</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.exploding_topics_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.exploding_topics_path(@conn, :index) %></span>
